@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --gray-950: #2c2830;
  --gray-700: #837d88;
  --gray-200: #dadada;
  --gray-50: #fafafa;
  --blue-950: #2d2641;
  --blue-500: #96a9c6;
  --pink-400: #c396c6;
  --purple-500: #9e96c6;
  --main-font: "DM Serif Display", serif;
  --secondary-font: "Karla", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Typeography */
h1,
h2,
h3 {
  font-family: var(--main-font);
}

h1,
h4 {
  color: var(--white);
}

h2,
h3 {
  color: var(--gray-950);
}

h1,
h2 {
  font-size: 48px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 28px;
  line-height: 135%;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 40px;
  letter-spacing: -0.5px;
}

.nav-link {
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 1.5px;
  color: var(--gray-700);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease;
}
.nav-link:hover {
  color: var(--gray-950);
}

.btn {
  padding: 12.5px 28.5px;
  border: 2px solid var(--gray-50);
  color: var(--gray-50);
  transition: all 0.3s ease;
}

.btn:hover {
  background: var(--gray-50);
  color: var(--gray-950);
}

.main-content {
  min-height: 100vh;
}

@media screen and (min-width: 1024px) {
  h1,
  h2 {
    font-size: 72px;
    line-height: 90%;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 56px;
    letter-spacing: -0.8px;
  }

  .nav-link {
    font-family: var(--secondary-font);
    font-size: 13px;
    line-height: 115%;
    letter-spacing: 1.5px;
    color: var(--gray-700);
    transition: color 0.5s ease;
  }

  .nav-link:hover {
    color: var(--gray-950);
  }

  .btn {
    border: 2px solid var(--gray-950);
    color: var(--gray-950);
    transition: all 0.3s ease;
  }

  .btn:hover {
    background: var(--gray-950);
    color: var(--gray-50);
  }
}
