@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --gray-950: #2c2830;
  --gray-700: #837d88;
  --gray-200: #dadada;
  --gray-50: #fafafa;
  --blue-950: #2d2641;
  --blue-500: #96a9c6;
  --pink-400: #c396c6;
  --purple-500: #9e96c6;
  --main-font: "DM Serif Display", serif;
}

/* Typeography */
h1,
h2,
h3 {
  font-family: var(--main-font);
}

h1,
h4 {
  color: var(--white);
}

h2,
h3 {
  color: var(--gray-950);
}

h1,
h2 {
  font-size: 48px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 28px;
  line-height: 135%;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 40px;
  letter-spacing: -0.5px;
}

@media screen and (min-width: 1440px) {
  h1,
  h2 {
    font-size: 72px;
    line-height: 90%;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 56px;
    letter-spacing: -0.8px;
  }
}
