footer {
  padding: 84px 24px;
  background-color: var(--gray-50);
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  background: url("/backgrounds/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  left: 0;
  top: 0;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-bottom: 40px;
}

.footer-top img {
  z-index: 5;
}

.socials-container {
  display: flex;
  gap: 16px;
  z-index: 5;
}

.socials-container a img {
  transition: all 0.5s ease;
}

.socials-container a:hover img {
  filter: brightness(0);
}

.footer-bottom,
.link-container,
.link-container ul {
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  margin-top: 40px;
  gap: 48px;
  align-items: center;
  position: relative;
}

.footer-bottom::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: var(--gray-200);
  width: 100%;
  top: -40px;
  left: 0;
}

.link-container {
  gap: 32px;
  text-align: center;
  text-transform: uppercase;
}

.link-container li {
  list-style: none;
}

.link-container a {
  text-decoration: none;
}

.link-container h5,
.link-container li a {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 115%;
  letter-spacing: 1.5px;
  color: var(--gray-700);
}

.link-container h5 {
  color: var(--gray-700);
}

.link-container li a {
  color: var(--blue-950);
  font-weight: 700;
}

.link-container ul {
  gap: 16px;
}

@media screen and (min-width: 768px) {
  footer::before {
    background: url("/backgrounds/bg-pattern-footer-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 500px;
    left: 0;
    top: 0;
  }
  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 32px;
    align-items: start;
    gap: 64px;
  }

  .link-container {
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .footer-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    width: 100vw;
  }

  .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }
}
