:root {
  --white: #ffffff;
  --black: #000000;
  --gray-950: #2c2830;
  --gray-700: #837d88;
  --gray-200: #dadada;
  --gray-50: #fafafa;
  --blue-950: #2d2641;
  --blue-500: #96a9c6;
  --pink-400: #c396c6;
  --purple-500: #9e96c6;
  --main-font: "DM Serif Display", serif;
  --secondary-font: "Karla", sans-serif;
}

header {
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.desktop-nav ul li,
.mobile-nav ul li {
  list-style: none;
  margin-left: 24px;
}

.mobile-nav img {
  cursor: pointer;
  position: fixed;
  right: 24px;
  top: 24px;
}

.mobile-nav.open {
  position: absolute;
  left: 0;
  top: 80px;
  height: calc(100vh - 80px);
  width: 100%;
  padding: 40px 24px;
  background-color: var(--blue-950);
  background-image: url("/backgrounds/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.nav-items {
  display: none;
}

.nav-items.open {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .desktop-nav ul {
    display: flex;
  }
}
