:root {
  --white: #ffffff;
  --black: #000000;
  --gray-950: #2c2830;
  --gray-700: #837d88;
  --gray-200: #dadada;
  --gray-50: #fafafa;
  --blue-950: #2d2641;
  --blue-500: #96a9c6;
  --pink-400: #c396c6;
  --purple-500: #9e96c6;
  --main-font: "DM Serif Display", serif;
  --secondary-font: "Karla", sans-serif;
}
header {
  height: 80px;
  width: 100%;
}
.header-wrapper {
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-nav ul li,
.mobile-nav ul li {
  list-style: none;
  margin-left: 24px;
}

.mobile-nav img {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 24px;
}

.mobile-nav.open img {
  right: 24px;
  top: -56px;
}

.mobile-nav.open {
  position: absolute;
  left: 0;
  top: 80px;
  height: 100vh;
  width: 100%;
  padding: 40px 24px;
  background-color: var(--gray-950);
  z-index: 1;
}

.mobile-nav.open::after {
  position: absolute;
  content: "";
  background: url("/backgrounds/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.nav-items {
  display: none;
}

.nav-items.open {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .desktop-nav ul {
    display: flex;
  }

  .header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 100vw;
  }
}
