:root {
  --white: #ffffff;
  --black: #000000;
  --gray-950: #2c2830;
  --gray-700: #837d88;
  --gray-200: #dadada;
  --gray-50: #fafafa;
  --blue-950: #2d2641;
  --blue-500: #96a9c6;
  --pink-400: #c396c6;
  --purple-500: #9e96c6;
  --main-font: "DM Serif Display", serif;
  --secondary-font: "Karla", sans-serif;
}

.main-content {
  padding: 140px 24px;
}

.main-wrapper {
  position: relative;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.main-wrapper h2::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 30%;
  background-color: var(--pink-400);
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.card img {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .main-content {
    padding: 140px 148px;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    padding-top: 305px;
  }
  .main-wrapper {
    align-items: start;
    padding-top: 64px;
  }

  .main-wrapper h2::before {
    width: 150px;
    left: 0;
    transform: translate(0);
  }

  .card-container {
    flex-direction: row;
    gap: 32px;
  }

  .card {
    align-items: start;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .main-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    width: 100vw;
  }
}
